{% extends 'layouts.html'%}
{% block content%}
<h1>What is in Car Emissions?</h1>
<p>The principal emissions from motor vehicles (by volume) are greenhouse gases, 
which contribute to climate change. In vehicles, the principal greenhouse gas is 
carbon dioxide (CO2), but vehicles also produce the greenhouse gases nitrous oxide
 and methane. Not all vehicles have the same impact though. The vehicle's level of 
 CO2 emissions is linked to the amount of fuel consumed and the type of fuel used.
Visible air pollution from vehicles is composed of nitrogen oxides, sulphur oxides,
 ozone, smoke and other particulates.  Although people with healthy lungs are affected 
 by these chemicals, individuals with lung problems are at a particularly high risk of 
 being harmed by car emissions.Global warming endangers our health, jeopardizes our 
 national security, and threatens other basic human needs. Some impacts—such as record 
 high temperatures, rising seas, and severe flooding and droughts—are already increasingly
  common.

Our personal vehicles are a major cause of global warming.</p>
<p>For many years now, scientists and others have been raising concerns about 
    climate change and the potential consequences of the warming of the earth. 
    An excessive amount of carbon in the atmosphere contributes to global warming, 
    with carbon emissions from things such as factories and power plants being a major
     contributor to increased levels of atmospheric carbon. However, automobile emissions
      are another major source of carbon. They also increase pollution levels, which can
       lead to all manner of health problems. Understanding automobile carbon emission and
       what car owners can do to reduce it will go a long way toward addressing the aforementioned issues.
</p><p>Carbon emissions include a number of different chemicals and particulates
     that are produced when fuel is burned in an engine. Some of the major substances found 
     in a car’s exhaust include carbon dioxide, ozone, and carbon monoxide. Other chemicals
      often found in exhaust gasses include benzene and nitrogen oxides. Many of these chemicals serve an important purpose in different parts of the atmosphere, but they can have bad consequences when human beings inhale them directly.</p>
 <img src="{{url_for('static', filename='car.PNG')}}" class="img-fluid" align="center" width="500"/>

{% endblock content %}  