
{% extends 'layouts.html'%}
{% block content%}
<h1>Easy Ways to Reduce Vehicle Emissions</h1>
<p>
<h3>Electric vehicles </h3>
<p>
</h5>EVs reduce pollution from brake and tyres</h5>
On brake pollution, conventional internal combustion engine (ICE) cars mainly use disc
brakes to slow the car down, which emits particle pollution. In contrast, EVs use 
“regenerative braking” as it restores braking energy back to the car’s battery to 
power the car. This process reduces the need to use the brakes and therefore reduces particle emissions.

<h5>EVs reduce particle pollution</h5>
Focusing on ‘primary’ particle mass (PM) emissions, i.e those particles which are 
emitted directly from the exhaust, tyres and brakes, should not lose sight of ‘secondary’ 
particle pollution. These particles form in the air due to other pollutants such as nitrogen 
oxides (NOx), hydrocarbons (HC) and ammonia (NH3) emitted from the tailpipe. Like primary 
particles these ‘secondary’ particles also contribute to PM2.5 (particles smaller than 2.5
 microns) and PM10 (particles smaller than 10 microns) pollution, thereby causing poor air quality.  

<h5>EVs eliminate all toxic emissions from engines</h5>
 Switching from an ICE to an EV car eliminates all toxic tailpipe pollution, e.g. NOx, HC
  and carbon monoxide (CO). A harmful pollutant, nitrogen dioxide (NO2), is responsible 
  for over 50,000 premature deaths per year in Europe. It causes respiratory and cardiovascular 
  disease and can be a death sentence for those suffering from asthma.
<h5>Emissions from brakes and tyres must be regulated</h5>
 Expected improvements to air quality due to switching to EVs do not mean that non-exhaust 
 pollution should be ignored. Particle pollution from brakes and tyres should be reduced 
 from all vehicles as quickly as possible.
</p>

<h3>Carbon Neutral Cars</h3>
<p>
Carbon neutral cars can bring neutral situation in the environment which is only achievable 
under certain circumstances. When we balance the emission of carbon dioxide by eliminating 
or reducing the emission of it in the community, then we can call it carbon neutrality. Or 
in other words, when we achieve net-zero carbon dioxide emissions, we can refer to it as 
carbon neutrality. We can accomplish this by balancing carbon dioxide emissions with their
 removal. We can do this typically through carbon offsetting. Or we can also go about it 
 by eliminating emissions from society altogether. Environmentalists are also calling this 
 the transition to the “post-carbon economy”. 

Fortunately, it is not too difficult for individuals to reduce the carbon emissions from 
their vehicles. First, existing vehicle owners who are not planning on buying a new car 
any time soon should focus on their driving behavior. Driving only when absolutely necessary 
and combining many errands into one trip will reduce driving time, and less time spent on the 
road means reduced carbon emissions. Families and individuals who own more than one automobile 
can also consider getting rid of extra cars and other vehicles. This usually reduces the amount
 of time the owner spends on the road.

Second, all vehicle owners should keep their cars properly maintained. Have the exhaust 
system on a vehicle checked for leaks, and install a pollution control system if there 
isn’t one in place or the existing one needs replacing. Such steps will reduce the amount of 
chemicals released into the atmosphere.

Finally, vehicle owners should make sure to drive as efficiently as possible. Increased weight
 leads to more fuel use, so vehicle owners should not carry unnecessary weight in the trunk or
  passenger sections of their vehicles. Consider switching to a vehicle that gets more miles to
   the gallon and thereby uses less fuel and produces less emissions. These easy steps will go 
   a long way to helping solve the problem of excessive carbon emission.
</p>

 <!--  <img class="h-10 d-inline-block img-fluid"" src="{{url_for('static', filename='image3.jpg')}}" />  -->
{% endblock content %}  