{% extends 'layouts.html' %}
{% block content%}
<title>Vehicle Emissions</title>
<section>
  <br><br><br>
  <br><br><br>
  <h1 align="center">Predicting Vehicles Emissions </h1>
  <h2 align="center">Know the concentration of CO2 emission from any vehicle <br>and Air quality index of any area.</h2>
  
<style>
  
  body {
    background-image: url('{{url_for('static', filename='index.jfif')}}');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
</style> 

{% endblock content %}   
