{% extends 'layouts.html'%}
{% block content%}

    <style>   
        .wrapingimage  
        {  
        float: right;   
       
        }   
        .result{
            margin: 0;
            padding: 0;
            font-family: "arial"
            position: absolute;
            margin-top: 3;
        }
        </style>   

	<div class="result2">
         <h1 class='container-heading' align="center"><span class="heading_font">Air Quality Index</span></h1>
         <h2 class=pred align="center">	PM2.5 = {{prediction}} </h2>
	 <h2 class=pred align="center">Air quality index is {{inf}} </h2>
		
</div>
 

{% endblock content %}  
	
{% endblock content %}  
