{% extends 'layouts.html'%}
{% block content%}
<h1>Health Effects of Emissions</h1>

<p >Vehicle emissions have a number of harmful effects on human health.Visible air pollution 
    from vehicles is composed of nitrogen oxides, sulphur oxides, ozone, smoke and other
     particulates.  Although people with healthy lungs are affected by these chemicals, 
     individuals with lung problems are at a particularly high risk of being harmed by car 
     emissions. Those who suffer from conditions such as asthma and chronic obstructive 
     pulmonary disease (COPD) experience worsening symptoms when they are exposed to excessive 
     amounts of car exhaust. The elderly and young children are also at a higher risk of 
     having an adverse reaction to car exhaust than other members of the population.

Many of the chemicals found in car emissions have been identified as carcinogens. Thus, exposure
 to car emissions increases the risk of getting certain cancers. Some experts have suggested 
 that about half of all cancers related to outdoor air pollution can be tied to vehicle emissions.
  Reduce emissions and there will be fewer cancer-causing chemicals in the air that people 
  breathe every day. Furthermore, irritants in car exhaust can cause the obstruction of airways 
  and other breathing problems and contribute to other health issues. Diabetics who live in areas
   that have frequent smog (the combination of fog and emissions) or who otherwise encounter a 
   lot of air pollution have higher mortality rates due to heart disease, than diabetics who live
    in places where the air is cleaner.
</p>
<h1>Car Emissions and Global Climate Change</h1>
<p>
Carbon traps heat in the atmosphere, preventing it from escaping from the earth. Scientists 
theorize that this has led to a warmer earth over the past century, increasing the odds of 
severe weather patterns, droughts, and other problems. Consequently, governments around the
 world have made it a goal to reduce their carbon emissions. Reducing emissions from cars and 
 other vehicles is key to this effort. In the United States alone, public and private transportation
 account for 27 percent of all carbon emissions. Carbon emission reduction in the U.S. 
 and in other countries with many vehicle owners will not be successful if drivers do not help out.
</p>
<img class="img-fluid" src="{{url_for('static', filename='effect.PNG')}}" align="center" width="800"/> 
{% endblock content %}  